
/* GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  height: 3000px;
  color: #2c3e50;
}

main{
  padding-top:100px;
}

[class*="col-"]{
  /* border: solid 1px; */

  min-height: 5px;
}



a, a:visited, a:hover, a:focus{
text-decoration: none;
}

.text-cent{
  text-align: center;
}

section{
  padding: 65px;
}

.sec-green{
  background-color: #1abc9c;
  color: white;
}



img{
  width: 100%;
}

h1{
  font-weight: 600;
}

button{
  width: 230px;
  height: 65px;
  color: white;
  background-color: #1abc9c;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.about button:hover{
  background-color: white;
  color: #2c3e50;
  border: solid 2px white;
}


/* HEADER */

header a{

  color: white;
  font-weight: 600;

}

header{

  background-color: #2c3e50;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-left a{
  font-size: 28px;
}

.nav-right a{
  font-size: 20px;
}

.barra-nav{
  padding: 30px;
}

.nav-right{
  padding-top: 5px;
}

/* FINE HEADER */


.linea{
  height: 5px;
  background-color: white;
  width: 80px;
  margin: 0px 15px 10px 15px;
  border-radius: 10px;
}

.intermezzo > *{
  display: inline-block;
  margin-top: 20px;

}

.intermezzo{
  margin-bottom: 20px;
  font-size: 40px;
}

.black-line{
  background-color: #2c3e50;
}

.jumbotron p{
  font-size: 25px;

}

.jumbotron img{
  width: 200px;
}

/* FINE-JUMBO */

.lin-port{
  background-color: #2c3e50;
}

.riga-top{
  margin-bottom: 15px;
  margin-top: 15px;
}


.img-green{
  background-color: #1abc9c;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;

  opacity: 0.0;
}

.img-green:hover{
  opacity: 0.9;
}

.cont-img{
  position: relative;
  cursor: pointer;
}

.cont-img img, .cont-img .img-green{
  border-radius: 15px;
}

.cross{
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%)
}


/* FINE PORTFOLIO */

.text-about p{
  text-align: left;
  font-size: 20px;
}

.text-about{
  margin: 20px 0 30px 0;
}

/* FINE ABOUT */

.form-cc{
  width: 100%;
  border: none;
  height: 30px;
  font-size: 30px;
  padding: 0;
  height: 30px;
  margin-bottom: 60px;
}

.form-cc:focus{
  box-shadow: none;
}

.form{
  margin-top: 40px;
  text-align: left;
}

.text-area{
  width: 100%;
  border: none;
  padding: 0;
  font-size: 30px;
}

.text-area:focus{
  box-shadow: none;
}


.form button{
  width: 100px;
}

/* FINE CONTACT-ME */

footer{
  background-color: #2c3e50;
  color: white;
  padding: 60px 0 0 0;
  font-weight: 400;
  line-height: 2;
  font-size: 17px;
}

footer h3{
  font-size: 25px;
  font-weight: 600;
}

.footer-2{
  background-color: #1a252f;
  font-size: 14px;
  padding: 20px;
}

.footer-2 p{
  margin-bottom: 0;
}
