
/* GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  height: 3000px;
  color: #2c3e50;
}

main{
  padding-top:100px;
}

[class*="col-"]{
  /* border: solid 1px; */

  min-height: 5px;
}



a, a:visited, a:hover, a:focus{
text-decoration: none;
}

.text-cent{
  text-align: center;
}

section{
  padding: 65px;
}

.sec-green{
  background-color: #1abc9c;
  color: white;
}



img{
  width: 100%;
}

h1{
  font-weight: 600;
}


/* HEADER */

header a{

  color: white;
  font-weight: 600;

}

header{

  background-color: #2c3e50;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-left a{
  font-size: 28px;
}

.nav-right a{
  font-size: 20px;
}

.barra-nav{
  padding: 30px;
}

.nav-right{
  padding-top: 5px;
}

/* FINE HEADER */


.linea{
  height: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.lin-white{
  background-color: white;
}

.jumbotron p{
  font-size: 25px;

}

.jumbotron img{
  width: 200px;
}

/* FINE-JUMBO */

.lin-port{
  background-color: #2c3e50;
}

.riga-top{
  margin-bottom: 15px;
}

.img-portfolio > img{
  border-radius: 10px;
}

/* FINE PORTFOLIO */

.text-about p{
  text-align: left;
  font-size: 20px;
}

.text-about{
  margin-bottom: 30px;
}

.about button{
  width: 230px;
  height: 65px;
  color: white;
  background-color: #1abc9c;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.about button:hover{
  background-color: white;
  color: #2c3e50;
  border: solid 2px white;
}
